@charset "UTF-8";
/* NESSE SITE KEYFRAMES tem mais 32 effect */
@keyframes border-effect {
    0%{
        transform: rotate(-50deg) translateY(-100px);
    }
    100%{
        transform: rotate(-50deg) translateY(530px);
    }

}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
/* FLEX BOX PARA TRATAMENTO DO EFFECT */
.box{
    position: relative;
    width:  300px;
    height: 420px;
    background-color: #141922;
    transition: 1s;
    overflow: hidden;
}
/* HOVER = PASSA MOUSE EM CIMA*/
.box:hover{
    tranform: translateY(-15px);
}

.box::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 560px;
    height: 50px;
    transform: rotate(-40deg) translateY(-100px);
    background: linear-gradient(to right,#00e6f7, #006af5);
}

.box:hover::after {
    animation: border-effect 1.2s ease;
}

.text-content{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #141922;
    color: #fff;
    width: 295px;
    height: 415px;
    z-index: 10;
}
/* */
.text-content a {
    text-decoration: none;
    display: block;
    width: 140px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    border: 2px solid #fff;
}